* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}
:root {
    --background-color  : hsl(106, 0%, 12%);
    --card-color        : hsl(106, 0%, 18%);
    --principal-color   : hsl(35, 100%, 35%);
    --secondary-color   : hsl(217, 100%, 97%);
}
html {
    min-height: 100vh;
    scroll-behavior: smooth;
}
body {
    min-height      : 100%;
    background-color: var(--background-color);
    overflow-y      : hidden;
}
.header {
    width  : 100%;
    z-index: 99;
}
.header__btn {
    display: none;
}
.header__btnmenu {
    cursor: pointer;
    color: var(--secondary-color);
}
.menu {
    position       : fixed;
    z-index        : 89;
    display        : flex;
    justify-content: space-around;
    top            : 0;
    width          : 100%;
    padding        : 0.4em;
}
.menu__list {
    display        : flex;
    margin-left    : 5em;
    justify-content: space-around;
    width          : 50%;
}
.menu__link {
    color          : var(--secondary-color);
    font-family    : 'Rubik', sans-serif;
    text-decoration: none;
    cursor         : pointer;
}
.menu__item,
.menu__item--logo {
    list-style: none;
    border-radius: 15px;
    padding: 0.4em;
}
.menu__item:hover {
    background-color: var(--card-color);
}
.main {
    margin-top: 50px;
}
.banner {
    background-color: var(--card-color);
    width           : 90%;
    height          : min-content;
    padding-top     : 2em;
    padding-bottom  : 2em;
    border-radius   : 10px;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    margin-left     : auto;
    margin-right    : auto;
}
.banner__profile {
    display      : block;
    width        : 150px;
    height       : 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    border       : 5px solid var(--principal-color);
}
.banner__text {
    color       : var(--principal-color);
    display     : block;
    margin-top  : 35px;
    font-family : monospace;
    white-space : nowrap;
    border-right: 2px solid;
    width       : 29ch;
    font-size   : 1.8rem;

    animation: typing 2s steps(29),
        blink .5s infinite step-end alternate;
    overflow: hidden;
}
.banner__description {
    color      : var(--secondary-color);
    width      : 85%;
    margin-top : 35px;
    font-family: 'Rubik', sans-serif;
    font-size  : 1.2rem;
    line-height: 28px;
}
.banner__title {
    font-family: 'Rubik', sans-serif;
    font-size  : 1.5rem;
    color      : var(--secondary-color);
}
.project {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-evenly;
    align-items     : center;
    width           : 90%;
    height          : min-content;
    padding-top     : 2em;
    padding-bottom  : 2em;
    margin-left     : auto;
    margin-right    : auto;
    border-radius   : 10px;
    background-color: var(--card-color);
}
.separator {
    display        : flex;
    justify-content: center;
    color          : var(--secondary-color);
    font-family    : monospace, sans-serif;
    font-size      : 2.2rem;
    font-style     : oblique;
    margin         : 1.1em;
}
.card {
    width           : 45%;
    min-width       : 260px;
    min-height      : 480px;
    max-height      : 630px;
    border-radius   : 15px;
    margin          : 20px 0;
    background-color: var(--secondary-color);
}
.card__header {
    margin-right: auto;
    margin-left : auto;
    
}
.card__img {
    border-radius: 15px 15px 0 0;
    width     : 100%;
    height    : auto;
}
.card__description {
    color      : var(--background-color);
    font-family: 'Rubik', sans-serif;
    font-size  : 1.1rem;
    padding    : 1em 0.8em;
}
.card__footer {
    margin-left    : auto;
    margin-right   : auto;
    display        : flex;
    justify-content: space-evenly;
    width          : 100%;
    margin         : 1em 0;
}
.card__demo,
.card__code {
    background-color: var(--principal-color);
    color           : var(--secondary-color);
    padding         : 0.5em 2em;
    border-radius   : 5px;
    cursor          : pointer;
    text-decoration : none;
    font-family     : 'Rubik',                                     sans-serif;
    box-shadow      : rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card__demo:hover,
.card__code:hover {
    background-color: var(--secondary-color);
    color           : var(--principal-color);
}
.skills {
    width                : 90%;
    height               : min-content;
    padding-top          : 2em;
    padding-bottom       : 2em;
    margin-left          : auto;
    margin-right         : auto;
    border-radius        : 10px;
    background-color     : var(--card-color);
}
.skills__block {
    color                : var(--secondary-color);
    width                : 80%;
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin               : 0 auto;
    font-family          : 'Rubik', sans-serif;
}
.skill {
    margin      : 2em 2em;
    justify-self: start;
}
.skills__title {
    margin-bottom : 10px;
    padding-bottom: 3px;
    border-bottom : 2px solid var(--principal-color);
}
.skills__item {
    margin-bottom: 2px;
}
.contact {
    display         : flex;
    justify-content : space-around;
    align-items     : center;
    flex-wrap       : wrap;
    width           : 90%;
    height          : min-content;
    padding-top     : 2em;
    padding-bottom  : 2em;
    margin-left     : auto;
    margin-right    : auto;
    border-radius   : 10px;
    background-color: var(--card-color);
    gap             : 25px;
}
.contact__icon {
    font-size   : 20rem;
    color       : var(--background-color);
    max-width       : 40%;
}
.contact__iconblock {
    height: min-content;
}
.contact__social {
    width : 40%;
    height: min-content;
}
.contact__link {
    text-decoration: none;
    color          : var(--secondary-color);
    font-family    : 'Rubik', sans-serif;
    font-size      : 1.2rem;
}
.contact__paragraph {
    margin-bottom: 1.5em;
}
.contact__iconlink {
    font-size: 1.5rem;
    margin   : 0.5em;
    color    : var(--principal-color);
}
.footer {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    font-family     : 'Rubik', sans-serif;
    font-weight     : bold;
    font-size       : 1.5rem;
    color           : var(--card-color);
    background-color: var(--principal-color);
    margin-top      : 90px;
    height          : 300px;
}


.hide {
    opacity: 0;
}

.showcontent {
    opacity   : 1;
    transition: opacity 2s;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media (max-width: 690px) {
    .banner__text {
        font-size: 1rem;
    }
    .banner__description {
        font-size: 1rem;
    }
    .card__description {
        font-size: 1rem;
    }
    .card {
        position: relative;
    }
    .card__footer {
        position: absolute;
        bottom  : 1em;
    }
}

@media (max-width: 450px) {
    .contact__icon {
        font-size: 15em;
    }
    .contact__link {
        font-size: 1rem;

    }
}

@media (max-width: 740px) {
    .project {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
    }
}

.move_scroll {
    background-color: var(--principal-color);
    transition: background-color 500ms linear
}

@media (max-width: 768px) {
    .header {
        position        : fixed;
        top             : 0;
        background-color: var(--background-color);
    }
    .header__btn {
        display        : flex;
        justify-content: end;
        width          : 90%;
        padding        : 0.5em;
    }
    .main {
        margin-top: 50px;
    }
    .menu {
        display   : block;
        position  : fixed;
        margin    : 0;
        top       : 0;
        left      : 0;
        background: var(--principal-color);
        height    : 100vh;
        width     : 248px;
        padding   : 30px;
        opacity   : .8;
        transform : translateX(-400px);
        transition: transform .5s ease-in-out;
    }
    .menu.show {
        transform: translateX(-20px);
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    .menu__item,
    .menu__item--logo {
        list-style   : none;
        border-radius: 15px;
        padding      : 0.4em;
        margin       : 10px 0;
    }
    .menu__item:hover {
        background-color: var(--card-color);
    }
}